<footer class="row">
  <div class="newsletter--l">
    <div class="footer--col--l">
      <form class="form form--box" action="https://tinyletter.com/{{settings.author.tinyletter}}" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/ian-rose', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
        <p>
          <label for="tlemail">Sign up to have updates sent directly to your inbox.</label>
        </p>
        <input type="text" placeholder="Your email here" name="email" id="tlemail"/>
        <input type="hidden" value="1" name="embed"/>
        <input type="submit" value="Subscribe" class="button button--primary"/>
      </form>
    </div>
  </div>
  <div class="footer--nav--l">
    <nav class="nav row">
      <div class="footer--col--l">
        <div><a href="https://twitter.com/{{settings.author.twitter}}" target="_blank">Twitter</a></div>
        <div><a href="https://github.com/{{settings.author.github}}" target="_blank">GitHub</a></div>
        <div><a href="http://linkedin.com/in/{{settings.author.linkedin}}/" target="_blank">LinkedIn</a></div>
      </div>
      <div class="footer--col--l">
        <div><a href="https://tinyletter.com/{{settings.author.tinyletter}}" target="_blank">Newsletter</a></div>
        <div><a href="http://feeds.feedburner.com/{{settings.author.feedburner}}" target="_blank">Feed</a></div>
        <div><a href="{{settings.sourceurl}}" target="_blank">Site Source</a></div>
      </div>
    </nav>
  </div>
  <div class="back-to-top--l">
    <div class="footer--col--l">
      <a class="button--link" href="#top">Back to Top</a>
    </div>
  </div>
</footer>
