<%- partial('_partial/head') %>

<body>
  <div class="site-header"><%- partial('_partial/header') %></div>
  <div class="wrapper">
    <%- body %>
  </div>
  <div class="site-footer"><%- partial('_partial/footer') %></div>
  <%- partial('_partial/after_footer') %>
</body>
</html>