<div class="row">
  <div class="col col-xs-12 col-lg-10 col-lg-offset-1 pad-xs">
<div>
    <div class="entry archive-type-<%=post.layout%>">
      <%-partial('post/date', {
          class_name: 'entry-meta-item entry-meta-item--time',
          date_format: 'MMMM D, YYYY'
        })%>
      <%-partial('post/title', {class_name: 'archive-article-title'})%>
      <%if (post.art) {%>
      <a href="<%-config.root%><%-post.path%>"><img class="img-responsive media--entry media--entry-work" src="/<%-post.path%><%-post.art%>" alt="<%=post.arttext%>"/></a>
      <%}%>
      <%if (post.excerpt && index) {%>
      <p class="dek dek--archive">
        <%-post.excerpt%>
        <%} else {%>
        <a href="<%-config.root%><%-post.path%>"><%=theme.excerpt_link%></a>
      </p>
      <%}%>
    </div>
  </div>
</div>
</div>
