<div class="container">
	<div class="row">
		<div class="layout--col col col-xs-12 col-sm-7 col-md-5 col-lg-8 pad-xs">
		<% if (pagination == 2) { %>
		<% page.posts.each(function(post) { %>
		<%- partial('archive-post', {post: post, index: true}) %>
		<% }) %>
		<% if (page.total > 1) { %>
		<nav id="page-nav">
			<%- paginator({
				prev_text: '&laquo; Prev',
				next_text: 'Next &raquo;'
			}) %>
		</nav>
		<% } %>
		<% } else { %>
		<% var last; %>
		<% page.posts.each(function(post, i) { %>
		<% var year = post.date.year(); %>
		<% if (last != year) { %>
		<% if (last != null) { %>
	<% } %>
	<% last = year; %>
		<div class="archive-year-wrap">
			<a href="<%- config.root %>archives/<%= year %>" class="archive-year"><%= year %></a>
		</div>
		<div class="archives">
			<% } %>
			<%- partial('archive-post', { post: post, even: i % 2 == 0 }) %>
			<% }) %>
			<% if (page.posts.length) { %>
		</div>
	<% } %>
	<% } %>
	</div>
		<div class="col col-xs-12 col-sm-7 col-md-5 col-lg-4 pad-xs">
			<%- list_archives() %>
			<% site.categories.each(function(cate){ %>
			<%= cate.name %>
			<%- list_posts({count:5,orderby: "updated",order:-1,query:{categories:  cate.name}}) %>
			<% }) %>
		</div>
	</div>
</div>

