<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title><%- name %></title>
    <link><%- url %></link>
    <description><%= description %></description>
    <atom:link href="<%- url %>/atom.xml" rel="self" type="application/rss+xml" />
    <% for(slug in public.articles._data) {
      var post = public.articles._data[slug] %>
    <% if(post.title) { %>
    <item>
      <title><%= post.title %></title>
      <description><%= post.desc %></description>
      <% include _includes/moment %>
      <pubDate><%-moment(post.date).format('ddd, DD MMM YYYY HH:mm:ss ZZ')%></pubDate>
      <link><%= url %>/articles/<%- slug %></link>
      <guid isPermaLink="true"><%= url %>/articles/<%= slug %></guid>
    </item>
    <% } %>
    <% } %>
  </channel>
</rss>

