<div class="nav--post" role="navigation">
  <div class="row<% if (!post.prev) { %> end-sm<% } %>">
      <% if (post.prev) { %>
    <div class="col col-xs-12 col-sm-6 nav--post-prev<% if (!post.next) { %> sans-next<% } %>">
      <a href="<%- config.root %><%- post.prev.path %>" class="article-nav-link-wrap">
        <small><i class="ion-ios-arrow-thin-left" aria-hidden="true"></i> Previous</small>
        <div class="nav--post-title">
          <% if (post.prev.title) { %>
          <%= post.prev.title %>
          <% } else { %>
          (no title)
          <% } %>
        </div>
      </a>
    </div>
      <% } %>

      <% if (post.next) { %>
    <div class="col col-xs-12 col-sm-6 nav--post-next">
      <a href="<%- config.root %><%- post.next.path %>">
        <small>Next <i class="ion-ios-arrow-thin-right" aria-hidden="true"></i></small>
        <div class="nav--post-title"><%= post.next.title %></div>
      </a>
    </div>
      <% } %>
  </div>
</div>
