<% if (post.link) { %>
  <h3 itemprop="name">
    <a class="<%= class_name %>" href="<%- post.link %>" target="_blank" itemprop="url"><%= post.title %></a>
  </h3>
<% } else if (post.title) { %>
  <% if (index) { %>
    <h3 itemprop="name">
      <a class="<%= class_name %>" href="<%- config.root %><%- post.path %>"><%= post.title %></a>
    </h3>
  <% } else { %>
    <h3 class="<%= class_name %>" itemprop="name">
      <%= post.title %>
    </h3>
  <% } %>
<% } %>
