  <head>
    <meta charset="utf-8">
    <script>
      // remove no-js class
      document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
      // ie9 patch for window.console
      if(!(window.console && console.log)) {
        console = {
          log: function(){},
          error: function(){}
        };
      }
    </script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="<%= description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="news_keywords" content="<%= keywords %>" />
    <meta name="standout" content="<%= url %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if(service.facebookid) { %><meta property="fb:app_id" content="<%= service.facebookid %>" /><% } %>
    <meta property="og:site_name" content="<%= name %>" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:title" content="<%= title %> - <%= name %>" />
    <meta property="og:url" content="<%= url %>" />
    <meta property="og:type" content="article" />
    <% if(service.socialimage) { %><meta property="og:image" content="<%= service.socialimage %>" /><% } %>

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="<%= name %>" />
    <meta name="twitter:title" content="<%= title %> - <%= name %>" />
    <meta name="twitter:description" content="<%= description %>" />
    <meta name="twitter:creator" content="<%= name %>" />
    <meta name="twitter:domain" content="<%= domain %>" />
    <% if(service.socialimage) { %><meta name="twitter:image:src" content="<%= service.socialimage %>" /><% } %>

    <% if(service.appleid) { %><meta name="apple-itunes-app" content="app-id=<%= service.appleid %>, app-argument=<%= url %>"><% } %>
    <% if(service.googleverification) { %><meta name="google-site-verification" content="<%= service.googleverification %>" /><% } %>

    <title><%= title %> | <%= name %></title>

    <link rel="author" href="humans.txt" />

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Web Starter Kit">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->
    <link rel="stylesheet" href="/styles/main.css">
    <style>
      @font-face {
        font-family: 'Source Sans Pro';
        src: url('/fonts/sourcesanspro-black.woff2') format('woff2'),
             url('/fonts/sourcesanspro-black.woff') format('woff');
        font-weight: 900;
        font-style: normal;
      }
      @font-face {
        font-family: 'Source Sans Pro';
        src: url('/fonts/sourcesanspro-bold.woff2') format('woff2'),
             url('/fonts/sourcesanspro-bold.woff') format('woff');
        font-weight: 700;
        font-style: normal;
      }
      @font-face {
        font-family: 'Source Sans Pro';
        src: url('/fonts/sourcesanspro-regular.woff2') format('woff2'),
             url('/fonts/sourcesanspro-regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
      }
      @font-face {
        font-family: 'Source Serif Pro';
        src: url('/fonts/sourceserifpro-bold.woff2') format('woff2'),
             url('/fonts/sourceserifpro-bold.woff') format('woff');
        font-weight: 700;
        font-style: normal;
      }
      @font-face {
        font-family: 'Source Serif Pro';
        src: url('/fonts/sourceserifpro-regular.woff2') format('woff2'),
             url('/fonts/sourceserifpro-regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
      }
    </style>
    <% if(service.googlefonts) { %>
    <% var last = service.googlefonts[service.googlefonts.length -1] %>
      <noscript>
        <!-- [*] Web fonts for no-js -->
        <link href='http://fonts.googleapis.com/css?family=<% for(var i=0; i < service.googlefonts.length; i++) { %><%- service.googlefonts[i] %><% if(service.googlefonts[i] !== last) { %>|<% } %><% } %>' rel='stylesheet' type='text/css'>
      </noscript>
    <% } %>
    <% if(service.fontscom) { %>
    <noscript>
      <!-- [*] Web fonts for no-js -->
      <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/<%= service.fontscom %>.css"/>
    </noscript>
    <% } %>
  </head>
