<article class="article--post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="meta--post--l">
    <div class="row">
      <div class="meta--container meta--container-post">
        <div class="meta--txt meta--heading">
          <span class="meta meta--primary"><a class="meta--link" href="/<%- current.path[0] %>"><%- current.path[0] %></a></span>
        </div>
      </div>
      <div class="meta--container meta--container-post">
        <div class="meta--txt meta--heading">
          <% include time %>
        </div>
      </div>
    </div>
  </div>
  <header class="article--header">
    <h1 itemprop="headline"><%- typogr.smartypants(title) %></h1>
    <p class="dek dek--lg"><%- typogr.typogrify(desc) %></p>
    <% include byline %>
  </header>
  <div class="article--body" itemprop="articleBody">
    <%- yield %>
  </div>
</article>
