<%- partial('_partial/head') %>
<body>
      <%- partial('_partial/header') %>
        <%- body %>
        <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
          <%- partial('_partial/sidebar') %>
        <% } %>
      <%- partial('_partial/footer') %>
    <%- partial('_partial/mobile-nav') %>
    <%- partial('_partial/after-footer') %>
</body>
</html>