<%
var pageTitle = page.title || config.subtitle || '';
if (is_archive()) pageTitle = 'Archives';
if (is_tag()) pageTitle = 'Tag: ' + page.tag;
if (is_category()) pageTitle = 'Category: ' + page.category;
if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
if (is_year()) pageTitle += ': ' + page.year;
pageTitle += ' [ ' + config.title + ' ]';
%>
<!doctype html>
<html class="no-js" lang="<%= config.language %>">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title><%=pageTitle%></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%- open_graph() %>
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<% theme.stylesheets.forEach(function(url) { %>
		<link rel="stylesheet" href="<%=url%>">
	<% }); %>
	<script src="//use.typekit.net/ebb4vdi.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
</head>
<body itemscope itemtype="http://schema.org/WebPage">
<header class="site-header" role="banner">
	<% if (is_home()){ %>
	<h1 class="site-title site-title--name" itemprop="name">
		<a href="<%- config.root %>"><%= config.title %></a>
	</h1>
	<% } else { %>
	<p class="site-title site-title--name" itemprop="name">
		<a href="<%- config.root %>"><%= config.title %></a>
	</p>
	<% } %>
	<p class="site-title site-title--sub" itemprop="specialty"><%= config.subtitle %></p>
</header>
<nav class="nav" role="navigation" itemprop="breadcrumb">
	<ul>
  <% Object.keys(theme.menu).forEach(function(key) { %>
		<li><a href="<%=theme.menu[key]%>"><%=key%></a></li>
	<% }); %>
	</ul>
</nav>
<main role="main" itemscope itemtype="http://schema.org/Blog">
	<%- body %>
</main>
<footer role="contentinfo">
	<form class="form form--inline form--box" action="https://tinyletter.com/ian-rose" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/ian-rose', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
		<p>
			<label for="tlemail">Sign up to have updates sent directly to your inbox.</label>
		</p>
		<input type="text" placeholder="Your email here" name="email" id="tlemail"/>
		<input type="hidden" value="1" name="embed"/>
		<input type="submit" value="Subscribe" class="button button--primary"/>
	</form>
	<nav class="nav" role="navigation">
		<ul>
			<li><a href="https://twitter.com/ThatIanRose" target="_blank">Twitter</a></li>
			<li><a href="https://github.com/ianrose" target="_blank">GitHub</a></li>
			<li><a href="http://linkedin.com/in/roseian/" target="_blank">LinkedIn</a></li>
			<li><a href="https://tinyletter.com/ian-rose" target="_blank">Newsletter</a></li>
			<li><a href="http://feeds.feedburner.com/ianrose?format=xml" target="_blank">RSS</a></li>
			<li><a href="https://github.com/ianrose/ianrose-source" target="_blank">Site Source</a></li>
		</ul>
	</nav>
	<a class="button--link" href="#top">Back to Top</a>
</footer>
</body>
</html>
