
<article class="article--post" itemscope itemprop="blogPost" itemtype="http://schema.org/BlogPosting">
	<div class="meta--container">
	<% if (page.categories && page.categories.length) { %>
		<span class="meta meta--primary">
			<%- list_categories(page.categories, {
				class: 'meta-',
				show_count: false,
				style: 'none',
				separator: '',
				amount: 1
			}) %>
		</span>
	<% } %>
	<% if (page.tags && page.tags.length) { %>

		<span class="meta meta--alt">in</span>
				<span class="meta meta--primary">
			<%- list_tags(page.tags, {
				class: 'meta-',
				show_count: false,
				style: 'none',
				separator: '',
				amount: 1
			}) %>
	</span>
	<% } %>
	</div>
	<div class="meta--container">
		<time class="meta meta--primary" datetime="<%= date_xml(page.date) %>" itemprop="datePublished"><%= date(page.date, config.date_format) %></time>
		<% if (page.updated) { %>
		<span class="meta meta--alt">updated <time datetime="<%= date_xml(page.updated) %>" itemprop="dateModified"><%= date(page.updated, config.date_format) %></time></span>
		<% } %>
	</div>
	<header>
		<h1 itemprop="name">
			<%=page.title%>
		</h1>
		<% if (page.excerpt) { %>
			<p class="dek dek--lg"><%= strip_html(page.excerpt) %></p>
		<% } %>
		<%if (config.author) { %>
			<div class="byline">
				by <span itemprop="author creator"><%= config.author %></span>
			</div>
		<% } %>
	</header>
	<%-page.more%>
</article>
<nav>
<% if (page.prev) { %>
	<div class="nav--post nav--prev">
		<h5 class="nav--post-heading"><a href="<%- url_for(page.prev.path) %>"><%= page.prev.title %></a></h5>
		<p class="dek dek--sm"><%= strip_html(page.prev.excerpt) %></p>
		<a class="button--link" href="<%- url_for(page.prev.path) %>">Previous</a>
	</div>
<% } %>

<% if (page.next) { %>
	<div class="nav--post nav--next">
		<h5 class="nav--post-heading"><a href="<%- url_for(page.next.path) %>"><%= page.next.title %></a></h5>
		<p class="dek dek--sm"><%= strip_html(page.next.excerpt) %></p>
		<a class="button--link" href="<%- url_for(page.next.path) %>">Next</a>
	</div>
<% } %>
</nav>
