
  <article class="<%= item.layout %>">
    <% if (item.photos){ %>
    <%- partial('post/gallery') %>
    <% } %>
    <div class="post-content">
      <header class="post-header">
        <% if (item.layout != 'page'){ %>
        <div class="icon"></div>
        <% } %>
        <%- partial('post/title') %>
        <time class="post-time" datetime="<%= item.date.toDate().toISOString() %>"><a href="<%- config.root %><%- item
              .path %>"><%= item
                .date.format(config.date_format) %></a></time>
      </header>
      <div class="entry">
        <% if (item.excerpt && index){ %>
        <%- item.excerpt %>
        <% } else { %>
        <%- item.content %>
        <% } %>
      </div>
      <footer>
        <% if (index){ %>
        <% if (item.excerpt){ %>
        <div class="alignleft">
          <a href="<%- config.root %><%- item.path %>#more" class="button"><%= theme.excerpt_link %></a>
        </div>
        <% } %>
        <% if (item.comment && config.disqus_shortname){ %>
          <a href="<%- item.permalink %>#disqus_thread" class="comment-link">Comments</a>
        <% } %>
        <% } else { %>
        <%- partial('post/category') %>
        <%- partial('post/tag') %>
        <%- partial('post/share') %>
        <% } %>
      </footer>
    </div>
  </article>

  <%- partial('comment') %>