<header class="site-header">
  <div class="site-brand">
  <a href="<%- config.root %>">
    <img class="site-logo" src="/img/uix-logo.svg">
    <div class="site-titles">
      <h1 class="site-title site-main-title"><%= config.title %></h1>
      <% if (theme.subtitle){ %>
      <h2 class="site-title site-subtitle"><%= theme.subtitle %></h2>
      <% } %>
    </div>
  </a>
  </div>
  <nav class="site-nav">
  <% for (var i in theme.menu){ %>
    <a class="main-nav-link" href="<%- theme.menu[i] %>"><%= i %></a>
    <% } %>
  </nav>
</header>