<header>
        <a href="<%- config.root %>" id="logo"><%= config.title %></a>
      <% if (theme.subtitle){ %>
        <h2 id="subtitle-wrap">
          <a href="<%- config.root %>" id="subtitle"><%= theme.subtitle %></a>
        </h2>
      <% } %>
        <a id="main-nav-toggle" class="nav-icon"></a>
        <% for (var i in theme.menu){ %>
          <a class="main-nav-link" href="<%- theme.menu[i] %>"><%= i %></a>
        <% } %>
        <% if (theme.rss){ %>
          <a id="nav-rss-link" class="nav-icon" href="<%- theme.rss %>" title="RSS Feed"></a>
        <% } %>
        <a id="nav-search-btn" class="nav-icon" title="Search"></a>
        <%- search_form({button: '&#xF002;'}) %>
</header>