{{#> layout}}
<article>
  <h1 class="heading heading--page">{{title}}</h1>
  <p class="dek--intro">{{{typogrFormat description}}}</p>
  <div class="row">
    <h2 class="section--heading">Contact</h2>
    <p class="section--body">
      Email <a href="mailto:{{author.email}}">{{author.email}}</a><br>
      Twitter <a href="http://twitter.com/{{service.twitter}}">@{{service.twitter}}</a><br>
      GitHub <a href="http://github.com/{{service.github}}">{{service.github}}</a>
    </p>
  </div>
  <div class="row">
    <h2 class="section--heading">Overview</h2>
    <p class="section--body">{{{typogrFormat overview}}}</p>
  </div>
  <div class="row">
    <h2 class="section--heading">Clients</h2>
    <p class="section--body">{{{clients}}}</p>
  </div>
  <div class="row">
    <h2 class="section--heading">Colophon</h2>
    <p class="section--body">{{{colophon}}}</p>
  </div>
</article>
{{/layout}}
