<% if (post.prev || post.next) { %>
<div class="row">
	<div class="col col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 pad-xs">
		<div class="nav--post">
			<div class="row">
				<div class="col col-xs-12 col-sm-6 nav--post-prev">
				<% if (post.prev) { %>
				<a href="<%- config.root %><%- post.prev.path %>" class="article-nav-link-wrap">
					<small><i class="ion-ios-arrow-thin-left"></i> Previous Post</small>

					<div class="nav--post-title">
						<% if (post.prev.title) { %>
						<%= post.prev.title %>
						<% } else { %>
						(no title)
						<% } %>
					</div>
				</a>
				<% } %>
					</div>
				<div class="col col-xs-12 col-sm-6 nav--post-next">
				<% if (post.next) { %>
				<a href="<%- config.root %><%- post.next.path %>" class="article-nav-link-wrap">
					<small>Next Post <i class="ion-ios-arrow-thin-right"></i></small>

					<div class="nav--post-title"><%= post.next.title %></div>
				</a>
				<% } %>
					</div>
			</div>
		</div>
	</div>
</div>
<% } %>
