<ul class="share">
	<li class="align-center"><small>Share</small></li>
	<li><a class="share--twitter" target="_blank" href="https://twitter.com/intent/tweet?text=<%- page.title %>&url=<%- site.url %><%- post.permalink %>&via=<%- theme.twitter %>" data-url="<%- post.permalink %>" data-id="<%= post._id %>"><i class="icon ion-social-twitter"></i></a></li>
	<li><a class="share--facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%- site.url %><%- post.permalink %>" data-url="<%- post.permalink %>" data-id="<%= post._id %>"><i class="icon ion-social-facebook"></i></a></li>
	<li><a class="share--google" target="_blank" href="https://plus.google.com/share?url=<%- site.url %><%- post.permalink %>" data-url="<%- post.permalink %>" data-id="<%= post._id %>"><i class="icon ion-social-googleplus"></i></a></li>
</ul>


